* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
}

.card {
    width: 300px;
    height: 325px;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 1px 34px 34px 10px rgba(3, 7, 10, 0.39);
    -webkit-box-shadow: 1px 34px 34px 10px rgba(3, 7, 10, 0.39);
    -moz-box-shadow: 1px 34px 34px 10px rgba(3, 7, 10, 0.39);
}

.search-bar {
    width: 100%;
    max-width: 250px;
    background: rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    width: 200px;
    color: hsl(215, 51%, 70%);
}

::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.search-bar button i {
    width: 25px;
    color: #fff;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
}

.current-location {
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
}

#temp img {
    width: 130px;
    height: 130px;
}

#temp {
    display: flex;
    font-size: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.climate {
    font-size: 17px;
    text-align: center;
    margin-top: -6px;
}

#climate {
    padding: 5px;
}

.get-location {
    margin-right: 20px;
}